.myYaxis{
  margin-left:20px;
}
.dropdown{
  /* margin:auto; */
  display: flex;
  flex-direction: column;
  width: 80%;
  align-items: center;
  
}
#years{
  height:30px;
  width: 100px;
  justify-content: center;
  margin-top: 10px;
 

  /* margin:auto; */
  /* display: flex; */
}
#loadbarchart{
  margin:auto;
}
