.myYaxis{
  margin-left:20px;
}
.dropdown{
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
#years{
  height:30px;
  width: 100px;
  justify-content: center;
  margin-top: 10px;
}
#loadbarchart{
  margin:auto;

}
